*{
  box-sizing: border-box;
}
:root {
  --size: 1.5em;

}
.header{
  background: blue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.board {
  border-spacing: 0;
  border-collapse: collapse;
  display: flex;
    justify-content: center;
}

.board th {
  padding: .5em;
}

.board th+th {
  border-bottom: 1px solid .000;
}

.board th:first-child,
.board td:last-child {
  border-right: 1px solid .000;
}

.board tr:last-child td {
  border-bottom: 1px solid;
}

.board th:empty {
  border: none;
}

.board td {
  width:var(--size);
  height: var(--size);
  /* text-align: center; */
  font-size: 22px;
  line-height: 0;
}

.board .light {
  background: #eee;
  border: 1px solid;
}
.light:hover{
  background: #aaa;
}
.board .dark {
  background: #aaa;
}
img{
  width: 30px;
  height: auto;
}
#container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}
body{
  overflow: hidden;
  background-color: oldlace;

}
#player,#computer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn-your-fleet{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  display: inline-block;
}
.btn-opponent{
  color: #fff;
  background-color:grey;
  border-color: #eea236;
}
.btn-opponent,.btn-your-fleet{
  width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.ships{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ship{
  background: black;
  
}

button{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
ul{
  list-style: none;
}
ul > li{
  margin-bottom: 10px;
}